@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  padding: 50px;
  font-family: 'poppins';
}

.main
{
  justify-content: center;
  width: inherit;
  margin-left: 200px;
}

.edit-button
{
  top: 70%;
  left: 85%;
}

.display-text
{
  width: 100%;
  background-color: blueviolet;
  margin-left:250px ;
}

.paragraph {
  max-width: 100%;
  height: 100px;
  word-wrap: break-word;
  white-space: normal;
  resize: none;
  /* prevents manual resizing if that's desired */
}

.sample
{
  background-color: #0F0F0F;
}

.top-nav
{
  padding: 18px;
  background-color: #151719;
}

.share-button
{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px 14px;
    gap: 10px;
    border-radius: 4px;
    background-color: blueviolet;
}

.publish-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: blue;
  padding: 10px 14px;
  border-radius: 4px;
  color: white;
}

.body-nav
{
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  
}

.side-nav
{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 350px;
  height: 100%;
  background-color: #151719;
  border-radius: 12px;
}

.user-selection
{
  display: flex;
  border-bottom: 1px solid #2E2E2E;
  padding: 26px 20px;
}

.side-bo
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
  margin-top: 5px;
}

.side-bo button
{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 5px 6px;
  text-align: left;
  background-color: #202122;
  color: white;
  border-radius: 3px;
}

.inner-body
{
  padding: 66px 100px;
  width: 1180px;
  height: 100%;
  background-color: blueviolet ;
  border-radius: 12px;
}

.rich-frame
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 106px;
  /* background-color: red; */
  border-bottom: 1px solid #515151;
}

.drop-show
{
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: center;
  height: 53px;
  padding: 10px 18px;
  background-color: #1B1C1D;
  border-radius: 10px;
  border: 2px solid #3C3C3C;
  color: white;
}

.drop-inc-frame
{
  display: flex;
  gap: 11px;
}

.increase-decrease
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  height: 52px;
  background-color: #1B1C1D ;
  color: white;
  border-radius: 10px;
  border: 2px solid #3C3C3C;
}

.text-edit
{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  color: white;
  gap: 5px;
  align-items: center;
  font-size: 20px;
  height: 52px;
  background-color: #1B1C1D;
  border: 2px solid #3C3C3C;
  border-radius: 10px
}

.text-edit button
{
  padding: 2px 20px;
}

.text-edit button:active {
  background-color: #2E2E2E;
  border-radius: 10px;
}

.color-button
{
  display: flex;
    justify-content: center;
    padding: 0px 5px;
    color: white;
    gap: 5px;
    align-items: center;
    font-size: 20px;
    height: 52px;
    background-color: #1B1C1D;
    border: 2px solid #3C3C3C;
    border-radius: 10px
}

.color-button input
{
  width: 40px;
  height: 40px;
  padding: 0px 2px;
  background-color: transparent;
  border-radius: 10px;
}